body {
    background: rgb(84, 247, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    width: 300px;
}
input, button {
    padding: 10px;
    margin-bottom: 8px;
    width: -webkit-fill-available; /*faz com que o button fique do mesmo tamanho do form*/
}
button{
    cursor: pointer;    
}
button:active{
    opacity: 0.7;
}
button[disabled] {
       opacity: 0.7;
}

.clear {
    background-color: transparent;
    border: none;
    color: black;
}
.solid {
    background-color: white;
    border: none;
    color: green;
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}